USE [master]
GO
/****** Object:  Database [EyesTest]    Script Date: 6/24/2023 4:11:30 PM ******/
CREATE DATABASE [EyesTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EyesTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NVMSSQLSERVER\MSSQL\DATA\EyesTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EyesTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NVMSSQLSERVER\MSSQL\DATA\EyesTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EyesTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EyesTest]
GO
/****** Object:  User [nv]    Script Date: 6/24/2023 4:11:30 PM ******/
CREATE USER [nv] FOR LOGIN [nv] WITH DEFAULT_SCHEMA=[nv]
GO
/****** Object:  Schema [nv]    Script Date: 6/24/2023 4:11:30 PM ******/
CREATE SCHEMA [nv]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 6/24/2023 4:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants]([ParticipantId] [int] IDENTITY(1,1) NOT NULL,[Nickname] [varchar](100) NULL,[Score] [int] NULL,[TimeTaken] [int] NULL,[User_Id] [int] NOT NULL,[QuizId] [int] NULL,CONSTRAINT [PK_Participant] PRIMARY KEY CLUSTERED ([ParticipantId] ASC)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 6/24/2023 4:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions]([QnId] [int] IDENTITY(1,1) NOT NULL,[QuizId] [int] NOT NULL,[QnInWords] [nvarchar](500) NULL,[ImageName] [nvarchar](50) NULL,[Option1] [nvarchar](50) NULL,[Option2] [nvarchar](50) NULL,[Option3] [nvarchar](50) NULL,[Option4] [nvarchar](50) NULL,[Answer] [int] NOT NULL,CONSTRAINT [PK_Questions_1] PRIMARY KEY CLUSTERED ([QnId] ASC)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[Quizes]    Script Date: 6/24/2023 4:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizes]([QuizId] [int] IDENTITY(1,1) NOT NULL,[QuizName] [varchar](250) NULL,[Decripsion] [varchar](250) NULL,[Imagename] [varchar](250) NULL, CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED ([QuizId] ASC)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 6/24/2023 4:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole]([RoleId] [int] IDENTITY(1,1) NOT NULL,[RoleName] [varchar](50) NULL,CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED ([RoleId] ASC)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]) ON [PRIMARY];
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/24/2023 4:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users]([Id] [int] IDENTITY(1,1) NOT NULL,[Username] [varchar](100) NULL,[Password] [varchar](100) NULL,[Fullname] [varchar](100) NULL,[Email] [varchar](100) NULL,[Phone] [varchar](100) NULL,[Address] [varchar](100) NULL,[RoleId] [int] NOT NULL,CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED ([Id] ASC)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]) ON [PRIMARY];
GO
SET IDENTITY_INSERT [dbo].[Participants] ON 

INSERT [dbo].[Participants] ([ParticipantId], [Nickname], [Score], [TimeTaken], [User_Id], [QuizId]) VALUES (105, N'John', 0, 0, 24, 1)
INSERT [dbo].[Participants] ([ParticipantId], [Nickname], [Score], [TimeTaken], [User_Id], [QuizId]) VALUES (106, N'Nguy?n', 0, 0, 1071, 1)
INSERT [dbo].[Participants] ([ParticipantId], [Nickname], [Score], [TimeTaken], [User_Id], [QuizId]) VALUES (107, N'Nguyen', 7, 17, 1071, 1)
SET IDENTITY_INSERT [dbo].[Participants] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QnId], [QuizId], [QnInWords], [ImageName], [Option1], [Option2], [Option3], [Option4], [Answer]) VALUES (115, 1, N'Question 1: Cover your right eye and indicate which direction the letter E is facing in the picture below?', N'VT1.png', N'Upward', N'Downwards', N' Left', N'Right', 0)
INSERT [dbo].[Questions] ([QnId], [QuizId], [QnInWords], [ImageName], [Option1], [Option2], [Option3], [Option4], [Answer]) VALUES (116, 1, N'Question 2: Cover your right eye and indicate which direction the letter E is facing in the picture below?', N'VT2.png', N' Upward', N'Downwards', N'Left', N'Right', 1)
INSERT [dbo].[Questions] ([QnId], [QuizId], [QnInWords], [ImageName], [Option1], [Option2], [Option3], [Option4], [Answer]) VALUES (118, 1, N'Question 3: Cover your right eye and indicate which direction the letter E is facing in the picture below?', N'VT4.png', N'Upward', N'Downwards', N'Left', N'Right', 1)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizes] ON 

INSERT [dbo].[Quizes] ([QuizId], [QuizName], [Decripsion], [Imagename]) VALUES (1, N'Myopia Test', N'Instructions: sit 1m away from the screen, continue to wear glasses if you are nearsighted', N'ET1.jpg')
INSERT [dbo].[Quizes] ([QuizId], [QuizName], [Decripsion], [Imagename]) VALUES (2, N'Light Sensitivity Test', N'Instructions: sit 1m away from the screen, continue to wear glasses if you are nearsighted', N'ET2.jpg')
INSERT [dbo].[Quizes] ([QuizId], [QuizName], [Decripsion], [Imagename]) VALUES (3, N'Color Blindness Test', N'Instructions: sit 40cm away from the screen, continue to wear glasses if you are nearsighted', N'ET4.jpg')
SET IDENTITY_INSERT [dbo].[Quizes] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([RoleId], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[UserRole] ([RoleId], [RoleName]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Fullname], [Email], [Phone], [Address], [RoleId]) VALUES (24, N'admin1', N'123', N'Nguyen Vu', N'nguyenvu270901@gmail.com', N'0946104100', N'112 Duong Qu?ng Hàm, phu?ng 5', 1)
INSERT [dbo].[Users] ([Id], [Username], [Password], [Fullname], [Email], [Phone], [Address], [RoleId]) VALUES (1071, N'nguyen123', N'Nvu270901', N'Vu Dinh Nguyen', N'nguyenvu270901@gmail.com', N'0946104100', N'112 Duong Qu?ng Hàm, phu?ng 5', 2)
INSERT [dbo].[Users] ([Id], [Username], [Password], [Fullname], [Email], [Phone], [Address], [RoleId]) VALUES (1073, N'thao123', N'Nvu270901', N'Thao', N'nguyenvu270901@gmail.com', N'0912345678', N'112 Duong Qu?ng Hàm, phu?ng 5', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [df_roleid]  DEFAULT ((2)) FOR [RoleId]
GO
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [fk_id_user] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [fk_id_user]
GO
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [fk_quizzid] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizes] ([QuizId])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [fk_quizzid]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK__Questions__QuizI__47A6A41B] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizes] ([QuizId])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK__Questions__QuizI__47A6A41B]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_UserRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRole] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_UserRole]
GO
/****** Object:  StoredProcedure [dbo].[usp_Login]    Script Date: 6/24/2023 4:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[usp_Login] (@Fullname varchar(100), @Password varchar(100))
as
begin
Select * from [dbo].[User] Where Fullname = @Fullname and Password = @Password
End
GO
USE [master]
GO
